.nav { 
    display: inline-block;
     float: right;
}

.logo { 
    width: 8vh;
    height: 8vh;
    object-fit: contain;
}

.nav-header{
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%
}

.navItems {
    display: inline-block;
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 4px 8px;
    cursor: pointer;
}

ul{
    display: inline-block; 
    list-style-type: none;
    /* float: right; */
    margin: 0;
    padding: 0;
}

